[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
falcon = "*"
gunicorn = "*"
SQLAlchemy = "*"
graphene-sqlalchemy = "*"
graphql-core = "*"
psycopg2-binary = "*"
graphene-federation = "*"
alembic = "*"
click = "*"
SQLAlchemy-serializer = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.8"
