aniso8601==7.0.0
falcon==3.0.1
graphene==2.1.9
graphene-sqlalchemy==2.3.0
graphql-core==2.3.2
graphql-relay==2.0.1
greenlet==1.1.2
gunicorn==20.1.0
promise==2.3
psycopg2-binary==2.9.1
Rx==1.6.1
singledispatch==3.7.0
six==1.16.0
SQLAlchemy==1.4.26
